<h1>New Schedule Builder</h1>

<%= render 'form' %>
<p>
    Params in
</p>
    <%= @classes %>
    <p>
        database hits
        <p>
    <%= @matches %>
    <p>
        Course names found Multiple means multiple times for same class<p>
    <%= @names %>
        
    </p>
        <p>
            Times found <p>
    <%= @times %>
        
    </p>
<%= link_to 'Back', schedule_builders_path %>

<%=@data%>
