<h1>Your Schedule</h1>

<%= render 'form' %>

    <%=@output.html_safe%>
    <p>
    Matches <p>
    <%=@matches%>
    <p>
    Times
    <p>
    <%=@times%>

<%= link_to 'Back', schedule_builders_path %>

<%=@data%>
