<h1>New Schedule Builder</h1>

<%= render 'form' %>
<p>
    Params in
</p>
    <%= @classes %>
    <p>
        database hits
        <p>
    <%= @matches %>
    <p>
        Course names found <p>
    <%= @names %>
        
    </p>
        <p>
            Times found <p>
    <%= @times %>
<<<<<<< HEAD
<p>

=======
    test
>>>>>>> 1c23777cdb2e8e082df299bb6fdc0a800484f1e5
        
    </p>
<%= link_to 'Back', schedule_builders_path %>

<%=@data%>
