<%= simple_form_for(@course_schedule) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
  </div>
<% f.fields_for :sfucourse do |builder| %>
  <p>
  <%= builder.lable :content, "Course" %> <br/>
  <%= builder.text_area :content, :rows => 3%>
  <div class="form-actions">
    
    </p>
    <% end %>
  </div><%= f.button :submit %>
<% end %>
