<p id="notice"><%= notice %></p>

<p>
  <strong>Dept:</strong>
  <%= @secondary_course.dept %>
</p>

<p>
  <strong>Number:</strong>
  <%= @secondary_course.number %>
</p>

<p>
  <strong>Section:</strong>
  <%= @secondary_course.section %>
</p>

<p>
  <strong>Name:</strong>
  <%= @secondary_course.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @secondary_course.description %>
</p>

<p>
  <strong>Title:</strong>
  <%= @secondary_course.title %>
</p>

<p>
  <strong>Designation:</strong>
  <%= @secondary_course.designation %>
</p>

<p>
  <strong>Course details:</strong>
  <%= @secondary_course.course_details %>
</p>

<p>
  <strong>Prerequisites:</strong>
  <%= @secondary_course.prerequisites %>
</p>

<p>
  <strong>Units:</strong>
  <%= @secondary_course.units %>
</p>

<p>
  <strong>Term:</strong>
  <%= @secondary_course.term %>
</p>

<p>
  <strong>Delivery method:</strong>
  <%= @secondary_course.delivery_method %>
</p>

<p>
  <strong>Schedule:</strong>
  <%= @secondary_course.schedule %>
</p>

<%= link_to 'Edit', edit_secondary_course_path(@secondary_course) %> |
<%= link_to 'Back', secondary_courses_path %>
