<h1> Class </h1>

<%= form_for :coursesmt, url: coursesmt_path do |f| %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %><br>
    <h1> 'CMPT 120' </h1>

  </p>
 
  <p>
    <%= f.label :times %>
    <%= f.text_field :times %>
    <h1>[ ['M', '830', '1020'],  ['F', '830', '920'] ]</h1>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>